body{
	background-color: #2D2939;
}

/** Remove built in padding*/
.container {
	padding-right: 0;
	padding-left: 0;
}

/**  Styling for different elements like titles, answers, and questions*/
.element {
	text-align: center;
	color: white;
}

/** The main title of the landing page */
.title {
	font-family: Brush Script Std, Brush Script MT, cursive;
	color: white;
	font-size: 400%;
}

/** Loading screen */
.loader {
	position: relative;
	left: 50%;
	top: 200px;
}

.categories {
	position: absolute;
	left: 80%;
	top: 4.5%;
}

.question {
	border: 1px solid #3065EA;
	border-radius: 20px;
	padding: 10px;
	background: url('https://media1.s-nbcnews.com/j/streams/2013/november/131119/2d9734380-131119-milkywayphoto-hmed-1025a-files.nbcnews-ux-2880-1000.jpg');
}

.answer {
	animation-name: myframes;
	animation-duration: 2s;
}

.noPoints {
	padding: 30px;
	border: 1px solid yellowgreen;
	border-radius: 20px;
	background: url('https://media1.s-nbcnews.com/j/streams/2013/november/131119/2d9734380-131119-milkywayphoto-hmed-1025a-files.nbcnews-ux-2880-1000.jpg');
}

@keyframes myframes {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}